<h2 style="background-color: pink;"> day 1 laalallala</h2>
<h3>{{ test }}</h3>




<div>
    <input type="file">
    <textarea name="" id="" cols="30" rows="10"></textarea>
</div>


<script type="module">
    import {increaseOrDecrease, slidingWindow} from "../js/day1.js";
    window.onload = increaseOrDecrease();
    


</script>


      <div>
          <h3>Increase or Decrease</h3>
          <h2 id="increase"></h2>
          <h2 id="decrease"></h2>
          
          <h3>Sliding window</h3>
          <h2 id="increase_"></h2>
          <h2 id="decrease_"></h2>
          <h3 id="Index"></h3>
      </div>
      


