<h2 style="background-color: pink;"> day 1 ALT hummananana</h2>
<h3>{{ test }}</h3>


<!-- Script test from module-->
<script  type="module">
import {onloadTest} from '../js/onloadTest.js';
window.onload = onloadTest();

</script>

<div>
    <div class="buttonsOnScreen">
        <input class="child" type="file" ng-click="day1()">
        
    </div>
    
    <textarea name="" id="" cols="30" rows="10"></textarea>
   
</div>

<div>
    <h2>Increase or Decrease</h2>
    <h3 id="increase"></h>
    <h3 id="decrease"></h3>
    
    <h2>Sliding window</h2>
    <h3 id="increase_"></h3>
    <h3 id="decrease_"></h3>
    <h4 id="Index"></h4>
</div>

     