<h2 style="background-color: pink;"> day 1 laalallala</h2>
<h3>{{ test }}</h3>

<div>
    <input type="file">
    <textarea name="" id="" cols="30" rows="10"></textarea>
</div>


<script type="module">
    import {increaseOrDecrease, slidingWindow} from "../js/day1.js";
    window.onload = increaseOrDecrease();
</script>


      <div>
          <h2>Increase or Decrease</h2>
          <h3 id="increase"></h>
          <h3 id="decrease"></h3>
          
          <h2>Sliding window</h2>
          <h3 id="increase_"></h3>
          <h3 id="decrease_"></h3>
          <h4 id="Index"></h4>
      </div>
      


